/*
* @Author: TestBook-shj
* @Date:   2018-12-27 21:35:45
* @Last Modified by:   TestBook-shj
* @Last Modified time: 2018-12-27 21:42:58
*/
.footer{
  padding-bottom: 10px;
}
.footer .links{
  text-align: center;
  color: #666;
  line-height: 30px;
}
.footer .links .link{
  padding: 0 10px;
}
.footer .copyright{
  text-align: center;
  color: #666;
  line-height: 30px;
}