/*
* @Author: Administrator
* @Date:   2018-12-27 16:36:31
* @Last Modified by:   Administrator
* @Last Modified time: 2018-12-27 16:46:14
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
}